<div class="container">

<p class = "sign"><%= image_tag '/searchP.png' %></p>

<ul class="raw">
  <% @performers.each do |performer| %>
    <li  class="col-md-4 col-sm-12">
      <div class="profileImg">
        <%= performer_profile_img(performer) %>
      </div>
      <div class="profileName">
        名前：<%= performer.name %>
      </div>
      <div class="profileName">
        ジャンル：<%= performer.jenre.name %>
      </div>

      <%= performer.try(:content) %>


      <%= link_to "詳細", musician_path(performer.id) %>
    </li>
<% end %>
</ul>

</div>
