<%= @performer.name %>

<%= @performer.jenre.name %>
<%= @performer.try(:content) %>
<%= performer_profile_img(@performer) %>
<%= link_to :movie, @performer.movie_url.to_s, id: "movie" %>
 <p>
  <%= link_to @performer.movie_url.to_s do %>
      <%= image_tag(@performer.movie_url(:screenshot).to_s, id: "movie", :alt => "screenshot") %>
  <% end %>
</p>
<%= flowplayer_for :movie, '/flowplayer.swf','jquery' do |player|
  player.playlist [{:autoplay => true,
                    :autoBuffering => true}]
  player.onload do
    'this.unmute();'
  end
 end
 %>


 <%= image_tag @performer.movie_url(:screenshot).to_s %>
