<%= @performer.name %>

<%= @performer.jenre.name %>
<%= @performer.try(:content) %>
<% if user_signed_in?%>
<p>リクエストメッセージを送る</p>
<%= form_for(@request, url: request_index_path) do |f| %>
<%= f.text_area :content, class: 'form-control' %>
<%= f.hidden_field :performer_id, :value => @performer.id %>
<%= f.submit '登録' %>
<% end %>
<% end %>

<%= performer_profile_img(@performer) %>
<div id="movie">
<!--<%= link_to :movie, @performer.movie_url.to_s %>
<%= flowplayer_for :movie, '/flowplayer.swf','jquery' do |player|
  player.playlist [{:url => "video_still.jpg" },
    {:url => "video_512x288.flv", :autoplay => false,
                    :autoBuffering => true}]
  player.onload do
    'this.unmute();'
  end
 end
 %>-->
 <%= video_tag @performer.movie, width: "100%", autoplay: false, poster_skip_pipeline: true, controls: true %>


 <!-- <%= image_tag @performer.movie_url(:screenshots).to_s %> -->

 <!--<%= video_tag "uploads/IMG_1977__1_.MOV",size: "500x500", autoplay: true, poster_skip_pipeline: true %>-->
 </div>
