<div class="row">
<%= form_for([request,reply]) do |f| %>
<%= f.hidden_field :request_id %>
<%= f.hidden_field :user_id if current_user %>
<%= f.hidden_field :performer_id if current_performer %>
    <%= f.text_field :content, placeholder: "返信", class: "form-control"  %>

  
  <% end %>
</div>
