<p class = "sign"><%= image_tag '/searchP.png' %></p>

<div id="wrap">
<div class="container">

<h2>検索結果</h2>

<ul class="row">
  <% @performers.each do |performer| %>
    <li  class="col-md-4 col-xs-12">
      <div class="profileImg">
        <%= performer_profile_img(performer) %>
      </div>
      <div class="profileName">
        名前：<%= performer.name %>
      </div>
      <div class="profileName">
        ジャンル：<%= performer.jenre.name %>
      </div>
      <p>一言メッセージ</p>
      <p><%= performer.message %></p>

      <%= performer.try(:content) %>


      <%= link_to "詳細", musician_path(performer.id) %>
    </li>
<% end %>
</ul>

</div>
</div>
