<p class = "sign"><%= image_tag '/image.png' %></p>
<div id="wrap">
<div class="container">
  <h4><%= @request.user.name %>さんから<%= @request.performer.name %>さんへのリクエストメッセージ</h4>
  <div id ="requestContent" class="border"><%= @request.content %></div>
  <br>
  <br>
  <br>


<div id="replies_area">
<%= render partial: 'replies/index', locals: { request: @request } %>
<%= render partial: 'replies/form', locals: { request: @request, reply: @reply } %>
</div>

</div>
</div>
