<div class="container">

<p class = "sign"><%= image_tag '/order.png' %></p>

<ul>
  <% @events.each do |event| %>
    <li class="raw, profileImg">
      <div class="col-md-2 col-sm-10">
        <%= image_tag(event.image, alt: event.title) if event.image? %>
      </div>
      <div class="col-md-8 col-sm-10">
        <p>イベント名：<%= event.title %></p>
        <p>予定日：<%= event.start %>~<%= event.end %></p>
        <p>開催都道府県：<%= event.prefecture.name %></p>
        <%= link_to "詳細", event_path(event.id) %>
      </div>
    </li>
<% end %>
</ul>

</div>
