<div class="container">
  <article class="row event_detail">
    <div class="col-md-7 col-sm-10">
      <p>イベント名：<%= @event.title %></p>
      <p>予定日：<%= @event.start %>~<%= @event.end %></p>
      <p>開催都道府県：<%= @event.prefecture.name %></p>
      <p>詳細</p>
      <p><%= @event.content %></p>

   </div>
   <div class="col-md-3 col-sm-10 profileImg">
     <%= image_tag(@event.image, alt: @event.title) if @event.image? %>
   </div>
  </article>

  <% if performer_signed_in? %>

    <% if current_performer.candidate?(@event.id) %>
  　　<p>このイベントに立候補済みです</p>
     <%= link_to "立候補を取り消す", candidacy_path(@candidated), method: :delete %>
  　<% else %>
  　　　<%= form_for(@candidacy, url: candidacy_index_path) do |f| %>
       <%= f.hidden_field :performer_id, value: current_performer.id %>
       <%= f.hidden_field :event_id, value: @event.id %>

      <%= f.submit "このイベントに立候補する", class: "btn btn-large btn-primary" %>
   <% end %>
   <% end %>
  <% end %>

</div>
