<p class = "sign"><%= image_tag '/image.png' %></p>
<div id="wrap3">
<h2>登録内容変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
    <br />
      <br />

  <div class="field">
    <%= f.label :Eメールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
    <br />
      <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新しいパスワード %> <br><i>(変更しない場合はそのまま)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <i><%= @minimum_password_length %> 文字以上</i>
    <% end %>
  </div>
  <br>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %>><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>


<p><%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "もどる", :back %>
</div>
